name: build

on:
  push:
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        include:
          - name: Ubuntu 20.04
            os: ubuntu-20.04
            install_dir: ~/libKeyFinder
          - name: macOS 10.15
            os: macos-10.15
            install_dir: ~/libKeyFinder

    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    steps:
    - name: Check out Git repository
      uses: actions/checkout@v2
    - name: "[Ubuntu] Install FFTW"
      if: startsWith(matrix.os, 'ubuntu')
      run: |
        sudo apt-get update
        sudo apt-get install -y --no-install-recommends fftw3-dev
    - name: "[macOS] Install FFTW"
      if: startsWith(matrix.os, 'macos')
      run: brew install fftw
    - name: build
      run: |
        cmake -DCMAKE_INSTALL_PREFIX=${{ matrix.install_dir }} -S . -B build
        cmake --build build --parallel 2
        cmake --install build
    - name: run tests
      run: build/tests/test
    - name: upload build artifact
      uses: actions/upload-artifact@v2
      with:
        name: ${{ matrix.name }} libKeyFinder build
        path: ${{ matrix.install_dir }}
